///********************///
///*     Colors       *///
///********************///

$black: #000;
$white: #fff;

$background: #141414;
$text-color: #999;

///********************///
///*    Break Points  *///
///********************///
$screen-xsm: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xlg: 1320px;

///********************///
///*       Fonts      *///
///********************///

$primary-font: 'Pretendard', sans-serif;
$en-font: 'Inter', sans-serif;
$point-font: 'Noto Sans Mono', monospace;
$logo-font: 'Fasthand', cursive;
// $primary-font: 'Noto Sans KR', sans-serif;
// $primary-font: 'NanumSquare', Helvetica, 'malgun gothic', 'Apple SD Gothic Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;
// $point-font: 'Montserrat', sans-serif;