@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css");
@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  font-display: swap;
  src: url("../font/NanumSquareR.woff") format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  font-display: swap;
  src: url("../font/NanumSquareB.woff") format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  font-display: swap;
  src: url("../font/NanumSquareEB.woff") format("woff");
}
@font-face {
  font-family: "NeueMontreal";
  font-weight: 400;
  font-display: swap;
  src: url("../font/NeueMontreal-Regular.otf") format("opentype");
}
@font-face {
  font-family: "NeueMontreal-Italic";
  font-weight: 400;
  font-display: swap;
  src: url("../font/NeueMontreal-Italic.otf") format("opentype");
}
@font-face {
  font-family: "NeueMontreal";
  font-weight: 700;
  font-display: swap;
  src: url("../font/NeueMontreal-Bold.otf") format("opentype");
}
@font-face {
  font-family: "NeueMontreal-BoldItalic";
  font-weight: 700;
  font-display: swap;
  src: url("../font/NeueMontreal-BoldItalic.otf") format("opentype");
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

div, p, li, span, em, strong, a {
  word-break: keep-all;
  word-wrap: break-word;
}

body {
  font-family: "NeueMontreal", "NanumSquare", Helvetica, "malgun gothic", "Apple SD Gothic Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
  letter-spacing: -0.01em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 1.095890411vw;
}
@media (min-width: 1320px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 3.8888888889vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  body {
    font-size: 3.8888888889vw;
  }
}

h1, h2, h3, h4, h5 {
  font-size: 1em;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border: 0 none;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select, textarea {
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 0;
  font-family: "NeueMontreal", "NanumSquare", Helvetica, "malgun gothic", "Apple SD Gothic Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  margin: 0;
}
input::-ms-clear {
  display: none;
}

select::-ms-expand {
  display: none;
}

img, fieldset {
  border: 0;
}

ul, ol, li {
  list-style-type: none;
}

li img {
  vertical-align: top;
}

button {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-family: "NeueMontreal", "NanumSquare", Helvetica, "malgun gothic", "Apple SD Gothic Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  font-size: 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html {
  font-size: 16px;
}

body {
  background-color: #222;
  font-weight: 400;
  transition: background-color 0.5s;
}
body.nav-opens, body.layer-opens {
  overflow-y: hidden;
}
body.nav-opens header .inner:after {
  display: block;
}
body.nav-opens header .mobile_menu {
  display: block;
}
body.colorful {
  background-color: #B4786F;
}
body.colorful header {
  background-color: #B4786F;
}
body.colorful .section1 h2 span {
  border-color: #B4786F;
}
body.colorful .circle {
  top: 50%;
}

.overlay_wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/overlay.gif");
  background-position: 0 0;
  background-size: 250px;
  opacity: 0.045;
  pointer-events: none;
  z-index: 300;
}

#wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#container {
  min-height: calc(100vh - 100px);
  position: relative;
  padding-top: 15.1515151515vw;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1190px;
  margin: 0 auto;
}
@media (min-width: 1320px) {
  #container {
    padding-top: 200px;
  }
}

header {
  width: 100%;
  height: 7.5757575758vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 40px;
  background-color: #222;
  transition: background-color 0.5s;
}
@media (min-width: 1320px) {
  header {
    height: 100px;
  }
}
header .header_wrap {
  height: 7.5757575758vw;
  padding: 1rem 0;
  border-bottom: 1px solid #000;
  position: relative;
  border: 100%;
}
@media (min-width: 1320px) {
  header .header_wrap {
    height: 100px;
  }
}
header .header_wrap:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
header .inner {
  max-width: 1840px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  display: inline-block;
}
header .logo a {
  display: block;
  height: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 36px;
}

.contact {
  display: flex;
  justify-content: center;
  font-family: "Nanum Myeongjo", serif;
  position: fixed;
  font-size: 1.5em;
  width: 12.8787878788vw;
  height: 12.8787878788vw;
  top: 18.9393939394vw;
  right: 3.0303030303vw;
  padding-top: 4.1666666667vw;
  border-radius: 50%;
  border: 2px double rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
}
@media (min-width: 1320px) {
  .contact {
    width: 170px;
  }
}
@media (min-width: 1320px) {
  .contact {
    height: 170px;
  }
}
@media (min-width: 1320px) {
  .contact {
    top: 250px;
  }
}
@media (min-width: 1320px) {
  .contact {
    right: 40px;
  }
}
@media (min-width: 1320px) {
  .contact {
    padding-top: 55px;
  }
}
.contact span {
  font-size: 0.6875em;
  position: absolute;
  top: 55%;
  letter-spacing: 0.5px;
}

.circle {
  position: fixed;
  top: 99%;
  transform: translateY(-50%);
  left: -7.1212121212vw;
  width: 40.5303030303vw;
  height: 40.5303030303vw;
  z-index: -1;
  transition: top 0.4s;
}
@media (min-width: 1320px) {
  .circle {
    left: -94px;
  }
}
@media (min-width: 1320px) {
  .circle {
    width: 535px;
  }
}
@media (min-width: 1320px) {
  .circle {
    height: 535px;
  }
}
.circle span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  top: 0;
}
.circle .color {
  left: 0;
  background: linear-gradient(180deg, rgb(180, 166, 155) 0.08%, rgb(179, 78, 72) 33%, rgb(178, 67, 89) 38%, rgb(177, 50, 113) 54%, rgb(181, 40, 137) 63%, rgb(190, 19, 192) 77%, rgb(137, 8, 140) 100%);
}
.circle .image {
  transition: 0.4s;
  background-color: #222;
  left: 0;
  overflow: hidden;
  opacity: 0;
  position: relative;
  background: url("../images/onemarket_thumbnail.png") no-repeat left/cover;
}
.circle .image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(180, 120, 111, 0.8);
}
.circle.hover .image {
  opacity: 1;
  left: 18.9393939394vw;
}
@media (min-width: 1320px) {
  .circle.hover .image {
    left: 250px;
  }
}

.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.is-motion {
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity;
}
.is-motion.on {
  opacity: 1;
  transform: translateX(0);
}

.is-show {
  opacity: 0;
  transition: opacity 0.6s ease;
  will-change: opacity;
}
.is-show.on {
  opacity: 1;
}

@media (max-width: 768px) {
  #container {
    padding-top: 22.2222222222vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  #container {
    padding-top: 22.2222222222vw;
  }
}
@media (max-width: 768px) {
  header {
    height: 15vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  header {
    height: 15vw;
  }
}
@media (max-width: 768px) {
  header .header_wrap {
    height: 15vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  header .header_wrap {
    height: 15vw;
  }
}
@media (max-width: 768px) {
  header .inner {
    padding: 0;
  }
}
@media (max-width: 768px) {
  header .logo a {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .contact {
    font-size: 0.9285714286em;
    width: 27.7777777778vw;
    height: 27.7777777778vw;
    top: 22.2222222222vw;
    right: 11.1111111111vw;
    padding-top: 8.3333333333vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .contact {
    width: 27.7777777778vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .contact {
    height: 27.7777777778vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .contact {
    top: 22.2222222222vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .contact {
    right: 11.1111111111vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .contact {
    padding-top: 8.3333333333vw;
  }
}
@media (max-width: 768px) {
  .circle {
    display: none;
  }
}
.section1 {
  margin-bottom: 37.8787878788vw;
}
@media (min-width: 1320px) {
  .section1 {
    margin-bottom: 500px;
  }
}
.section1 h2 {
  font-weight: 400;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.section1 h2 span {
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: white;
  border: 7px solid #222222;
}
.section1 h2 span:nth-child(1) {
  margin-left: -7px;
}
.section1 h2 span:nth-child(2) {
  margin-left: -12px;
}
.section1 h2 span:nth-child(3) {
  margin-left: -12px;
}
.section1 h2 p {
  margin-left: 20px;
}
.section1 h1 {
  margin-top: 50px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  position: relative;
}
.section1 h1 p {
  font-size: 9.375em;
  line-height: 1;
}
.section1 h1 p.center {
  margin-left: 15.1515151515vw;
}
@media (min-width: 1320px) {
  .section1 h1 p.center {
    margin-left: 200px;
  }
}

.section2 a {
  display: block;
  transition: 0.2s;
  margin: 7.5757575758vw 0vw;
}
@media (min-width: 1320px) {
  .section2 a {
    margin: 100px 0px;
  }
}
.section2 a:hover {
  transform: skewX(-15deg);
}
.section2 span {
  color: #fff;
  letter-spacing: 0.16rem;
}
.section2 p {
  color: #fff;
  font-size: 6.25em;
  font-family: "Nanum Myeongjo", serif;
}

@media (max-width: 768px) {
  .section1 {
    margin-bottom: 27.7777777778vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .section1 {
    margin-bottom: 27.7777777778vw;
  }
}
@media (max-width: 768px) {
  .section1 h2 {
    font-size: 0.9285714286em;
  }
  .section1 h2 span {
    display: none;
  }
  .section1 h2 p {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .section1 h1 p {
    font-size: 3.5714285714em;
  }
  .section1 h1 p.center {
    margin-left: 13.8888888889vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .section1 h1 p.center {
    margin-left: 13.8888888889vw;
  }
}
@media (max-width: 768px) {
  .section2 a {
    margin: 13.8888888889vw 0vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .section2 a {
    margin: 13.8888888889vw 0vw;
  }
}
@media (max-width: 768px) {
  .section2 p {
    font-size: 3em;
  }
}
.project .category {
  display: block;
  letter-spacing: 0.16rem;
  text-align: center;
  margin-bottom: 4.5454545455vw;
}
@media (min-width: 1320px) {
  .project .category {
    margin-bottom: 60px;
  }
}
.project .title {
  font-family: "Nanum Myeongjo", serif;
  text-align: center;
  font-size: 4.375em;
}
.project .image {
  position: relative;
}
.project .image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(180, 120, 111, 0.4);
  display: none;
}
.project .image img {
  width: 100%;
}
.project .link {
  display: block;
  color: #fff;
  font-size: 1.4375em;
  text-align: right;
  letter-spacing: 0.16rem;
}
.project .link_next {
  display: block;
  text-align: center;
  color: #fff;
  letter-spacing: 0.16rem;
  margin-bottom: 4.5454545455vw;
}
@media (min-width: 1320px) {
  .project .link_next {
    margin-bottom: 60px;
  }
}
.project .link_next span {
  position: relative;
}
.project .link_next span:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}
.project .link_next:hover span::after {
  width: 100%;
}
.project .desc {
  margin: 7.5757575758vw 0vw;
  padding: 0vw 11.3636363636vw;
  font-size: 1.25em;
  letter-spacing: 0.12rem;
}
@media (min-width: 1320px) {
  .project .desc {
    margin: 100px 0px;
  }
}
@media (min-width: 1320px) {
  .project .desc {
    padding: 0px 150px;
  }
}
.project .desc li {
  line-height: 2;
}
.project_3 .image {
  text-align: center;
}
.project_3 .image img {
  width: 20%;
}
.project_5 .desc a {
  color: #fff;
}

@media (max-width: 768px) {
  .project .category {
    margin-bottom: 11.1111111111vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .project .category {
    margin-bottom: 11.1111111111vw;
  }
}
@media (max-width: 768px) {
  .project .title {
    font-size: 2.8571428571em;
  }
}
@media (max-width: 768px) {
  .project .link {
    font-size: 1em;
  }
  .project .link_next {
    margin-bottom: 16.6666666667vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .project .link_next {
    margin-bottom: 16.6666666667vw;
  }
}
@media (max-width: 768px) {
  .project .desc {
    margin: 8.3333333333vw 0vw;
    padding: 0;
    font-size: 1em;
    letter-spacing: 0.12rem;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .project .desc {
    margin: 8.3333333333vw 0vw;
  }
}
@media (max-width: 768px) {
  .project .desc li {
    line-height: 1.5;
  }
}/*# sourceMappingURL=style.css.map */